<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reviewerApp/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviewerApp/styles.css' %}">
    <title>Books Home</title>
</head>
<body>
    <div id="top">
        <p id="welcome">Welcome, {{ request.session.user }}!</p>
        <a href="/books/add">Add Book and Review</a>  |  <a href="/">Logout</a>
    </div>
    <hr>
    <div id="content">
        <div id="recent">
            <h5>Recent Book reviews:</h5>
            
        </div>
        <div id="other">
            <h5>Other Books with Reviews:</h5>
        </div>
    </div>
</body>
</html>