<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <style>
        h1, h3, form{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Counter</h1>
    <h3>{{session['count']}} Times</h3>
    <form action="/add2">
        <input type="submit" value="Add 2">
    </form>
    <form action="/reset">
        <input type="submit" value=Reset>
    </form>
</body>
</html>