<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
    <style>
        *{
            text-align: center;
        }
        #wrong{
            background-color: red;
            display: inline-block;
            max-width: 200px;
            max-height: 300px;
            margin: 20px;
        }
    </style>
  </head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <h3>I am thinking of a number between 1 and 100</h3>
    <h3>Take a guess!</h3>
    <div id="wrong">
        <h1>{{session['result']}}</h1>
    </div>
    <form action="/submit" method="post" id="query">
        <input type="text" name="number">
        <input type="submit">
    </form>
</body>
</html>